@charset "UTF-8";
html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
}

.sc_01 {
  background: url(../images/alsom.PNG) no-repeat center center/cover;
}

.sc_01::before {
  content: "";
  position: absolute;
  display: block;
  background: linear-gradient(45deg, #000 20%, transparent 80%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bk {
  z-index: 999;
}

.sc_01 h3,
.sc_02 h3 {
  font-size: 120px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
}

.sc_01 h3 > span,
.sc_02 h3 > span {
  background: linear-gradient(-45deg, #a1c4fd 50%, #c2e9fb 70%);
  color: transparent;
  -webkit-background-clip: text;
}

.sc_02 {
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  height: 600px;
}

.container h1 {
  color: #fff;
  font-size: 6vw;
  max-width: 100%;
}

.container h1 > em {
  font-weight: 500;
  font-size: 3vw;
}

.container h1 div {
  display: inline-block;
}

/* gsap */
/* parallax__cont */
#parallax__title {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

#parallax__title h1 {
  font-size: 30px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 400;
  display: inline-block;
}

#parallax__title p {
  font-size: 16px;
}

#parallax__title ul {
  margin-top: 10px;
}

#parallax__title li {
  display: inline;
}

#parallax__title li a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px dashed #fff;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

#parallax__title li.active a {
  background: #fff;
  color: #000;
}

#parallax__cont {
  position: relative;
}

.parallax__item {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parallax__item__num {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 5vw;
  line-height: 1;
}

.parallax__item__img {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#section1 {
  top: 70%;
  background-color: #000;
  overflow: hidden;
}

#section1 .parallax__item__img {
  background-image: url(../images/00hero.jpg);
}

/* option */
#section1 .parallax__item__img {
  width: 700px;
  height: 600px;
}

.sec01_text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  max-width: 90vw;
  width: 100%;
  transform: translate(-50%, 150px);
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.has-mask-fill > span {
  position: relative;
  display: inline;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000, #000);
  background-size: 0% 100%;
}

.has-mask-fill > span {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(#fff, #fff);
}

#pin_01 {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  color: #fff;
}

#pin_01 .parallax__item__text {
  font-size: 5vw;
  text-transform: uppercase;
}

.section2 {
  font-family: "Teko", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
}

/* .banner, .banner-two { height: 100vh; } */
.secion2 h2 {
  font-size: 80px;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.col-lg-8,
.col-xl-7 {
  height: 100vh;
}

.banner_box {
  width: 1320px;
  max-width: 1320px;
}

.four-inner {
  margin: 0 auto;
}

/*main-text*/
.main-txt {
  position: fixed;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 80%;
  max-width: 2560px;
  margin: 0px auto;
  color: #fff;
  z-index: 1;
}

.banner .col-xl-7,
.banner-three .col-xl-7 {
  justify-content: center;
  -webkit-justify-content: center;
}

/*banners section*/
.sc2-card {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  perspective: 1000px;
  width: 100vw;
  height: 100vh;
}

.sc2-card-inner {
  position: absolute;
  transform-style: preserve-3d;
  min-height: 348px;
}

.sc2-card-front,
.sc2-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sc2-card-front::after,
.sc2-card-back::after,
.main-wallpaper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main-wallpaper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.sc2-card-back {
  transform: rotateY(180deg);
}

.sc2-card img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

/*slider section*/
.slider-card {
  height: 100vh;
}

.slider-card .title {
  margin-bottom: 60px;
}

.slider-box {
  display: flex;
  width: 95%;
  margin: 0px auto;
}

.slider-left,
.slider-right {
  width: 50%;
  height: 20vw;
  min-height: 350px;
  overflow: hidden;
  position: relative;
}

.slider-left img {
  position: absolute;
  top: 0;
  right: 0px;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0px 0px 12px;
}

.slider-right img {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 12px 12px 0px;
}

.justify-content-center {
  justify-content: center;
}

/* flex*/
.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

/**/
@media (min-width: 1500px) and (max-width: 1699px) {
  h1 {
    font-size: 200px;
    line-height: 230px;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .banner_box {
    width: 1170px;
    max-width: 1170px;
  }
  h1 {
    font-size: 150px;
    line-height: 170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner_box {
    width: 960px;
    max-width: 960px;
  }
  h1 {
    font-size: 100px;
    line-height: 120px;
  }
  h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 16px;
  }
  .slider-left,
  .slider-right {
    min-height: 280px;
  }
  .slider-left img,
  .slider-right img {
    min-width: 280px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .banner_box {
    width: 720px;
    max-width: 720px;
  }
  h1 {
    font-size: 80px;
    line-height: 100px;
  }
  h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 16px;
  }
  .slider-card .title {
    margin-bottom: 40px;
  }
  .slider-left,
  .slider-right {
    min-height: 220px;
  }
  .slider-left img,
  .slider-right img {
    min-width: 220px;
  }
}
@media (max-width: 767px) {
  .banner_box {
    width: 100%;
    max-width: 100%;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 14px;
  }
  .main-txt {
    width: 95%;
  }
  .slider-card .title {
    margin-bottom: 30px;
  }
  .slider-left,
  .slider-right {
    min-height: 200px;
  }
  .slider-left img,
  .slider-right img {
    min-width: 200px;
  }
  .banner .col-xl-7,
  .banner-three .col-xl-7 {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .banner .banner-content,
  .banner-three .banner-three-content {
    padding-top: 40px;
    width: 345px;
  }
  .sc2-card-inner {
    min-height: auto;
  }
}
.banner-content {
  position: absolute;
  padding: 0 50px;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
  width: 800px;
}

.banner-two {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.banner-three {
  display: flex;
  justify-content: flex-end;
  padding: 0 100px 0 0;
}

.con_size {
  width: 700px;
}

.banner-four {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.col-lg-8,
.col-xl-7 {
  height: 100vh;
}

.section6 {
  height: 100vh;
}

.sc_f {
  position: relative;
}

.sc_f h2 {
  position: absolute;
  top: 0;
  margin: 60px 0 0 20px;
  font-size: 250px;
  font-weight: 700;
  z-index: 999;
}

.sc_f h2 span {
  color: transparent;
  -webkit-text-stroke: 3px #000;
}

.sc_f .box {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  border: 0;
  border-radius: 50px;
  max-height: 650px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  padding: 0 70px;
  margin: 250px auto 0 auto;
}

.sc_f .content {
  flex: 1;
}

.sc_f .box .pc {
  position: relative;
}

.sc_f .box .port_img {
  position: absolute;
  top: 30px;
  left: 45px;
  height: 385px;
  width: 620px;
  overflow: hidden;
}

.sc_f .port_img img {
  transform: translate(0, 0);
  transition: 3s;
}

.sc_f .port_img:hover img {
  transform: translate(0, calc(-100% + 460px));
  transition: 3s;
}

.sc_f .tit {
  width: 500px;
}

.sc_f .tit .tt {
  display: block;
  margin: 0 0 15px 0;
}

.sc_f .tit h3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.sc_f .tit ul > li {
  display: flex;
  margin: 0 0 15px 0;
}

.sc_f .tit strong {
  display: block;
  font-weight: 500;
  width: 150px;
}

.sc_f .tit > ul > li span {
  font-weight: 300;
  font-size: 14px;
}

.sec {
  height: 100vh;
}

.inner {
  width: 1400px;
  margin: 0 auto;
}

#h_scroll {
  display: flex;
  flex-wrap: nowrap;
  /* overscroll-behavior: none; */
  width: 100%;
  background: rgb(224, 227, 231);
}

.page {
  /* width: 100%; */
  /* flex: 0 0 100%; 와는 다름... 여기서 실수 */
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}

.page h3 {
  font-weight: 900;
  margin: 0 0 18px 0;
}

.page .bt {
  position: relative;
  margin: 100px 0 0 0;
}

.page .bt a {
  position: relative;
  display: block;
  font-size: 70px;
  padding: 15px 0;
  transition: 0.3s;
  white-space: nowrap;
  font-weight: 500;
}
.page .bt a::before {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 0;
  display: block;
  height: 2px;
  width: 200px;
  background: #000;
}

.material-symbols-outlined {
  position: absolute;
  bottom: 50%;
  right: 0;
  font-size: 60px;
  transform: translate(15px, 50%) rotate(45deg);
}/*# sourceMappingURL=style.css.map */